# ignore .csv files
*.csv
# ignore .cpg, .dbf, .prj, .shp, .shx files
*.cpg
*.dbf
*.prj
*.shp
*.shx
# ignore .hdf and .tif files
*.hdf
*.tif
# ignore folder /data
data/
# exclude train_model.py
train_model.py
# exlude data_exploration.ipynb
data_exploration.ipynb